*{
    margin:0%;
    padding:0%;
    color: white;
}
body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    135deg,
    #0d0d12 0%,
    #2a1a40 40%,
    #c8b6ff 100%
  );
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-size: 3em;
    color: white;
    margin-left: 30px;;
}
nav{
    margin:100px;
}
a{
    padding: 30px;
    text-decoration:none ;
    color: white;
    font-size: 0.5em;
}
nav span{
    border: 2px solid purple;
    border-radius: 10px;
    background-color: #2a1a40;
    padding:10px;
}
.main{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
}
.buttons{
    border: 2px solid purple;
    border-radius: 10px;
    background-color: #2a1a40;
    padding:10px;
    width: 10vw;
}